<template>
    <div class="container">
        <app-header :quoteCount="quotes.length" :maxQuotes="maxQuotes"></app-header>
        <app-new-quote @quoteAdded="NewQuote"></app-new-quote>
        <app-quote-grid :quotes="quotes" @quoteDeleted="deleteQuote"></app-quote-grid>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="alert alert-info">Info: Click on a quote to delete it.</div>
                <button class="btn btn-primary" @click="undo">Undo</button>
            </div>
        </div>
        <div v-for="(quote, index) in backup" v-bind:key="index">{{ quote }}</div>
    </div>
</template>

<script>
    import QuoteGrid from './components/QuoteGrid.vue';
    import NewQuote from './components/NewQuote.vue';
    import Header from './components/Header.vue'
    export default {
        data: function() {
            return {
                quotes:[],
                maxQuotes: 10,
                backup:[],
            }
        },
        methods:{
            undo(){
                this.quotes = this.backup.pop() || [];
            },
            NewQuote(quote){
                if(this.quotes.length >= this.maxQuotes){
                    return alert('Too many quotes')
                }
                this.doBackup();
                this.quotes.push(quote);
                
            },
            deleteQuote(index){
                this.doBackup();
                let deleted = this.quotes.splice(index, 1);
            },
            doBackup(){
                this.backup.push(JSON.parse(JSON.stringify(this.quotes)));
            }
        },
        components: {
            appQuoteGrid: QuoteGrid,
            appNewQuote: NewQuote,
            appHeader: Header,
        }
    }
</script>

<style>
</style>
